<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="line-2">Giới thiệu</h2>
                <p>
                    Ứng dụng Hạn Sử Dụng sẽ hỗ trợ các bạn quản lý hạn sử dụng của các sản phẩm cho bạn, đảm bảo các bạn được sử dụng đồ ăn thức uống một cách an toàn.
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="line-2">Tải ứng dụng</h2>
                <p><a href="#"><img src="images/app-store.png" alt=""></a></p>
                <p><a href="https://play.google.com/store/apps/details?id=com.finger.hsd" target="_blank"><img src="images/google-play.png" alt=""></a></p>
            </div>

            <div class="col-md-4">
                <h2 class="line-2">Facebook</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Copyright@2018 - Bản quyền thuộc về <a href="http://hansudung.com">hansudung.com</a></p>
            </div>
        </div>
    </div>
</footer>