<div class="install">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><span>Bạn vui lòng tải ứng dụng để sử dụng chức năng này !</span></p>
            </div>

            <div class="col-md-12">
                <div class="row image-gif">
                    <div class="col-md-4">
                        <div class="wrap wow animated fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                            <p><img src="images/google-play.png" alt=""></p>
                            <p><img src="images/google-play-gif.gif" alt=""></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="logo wow animated rotateIn" data-wow-duration="2s" data-wow-delay="0.5s">
                            <span><img src="images/logo.png" alt=""></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="wrap wow animated fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                            <p><img src="images/app-store.png" alt=""></p>
                            <p><img src="images/app-store-giff.gif" alt=""></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

