<div class="featured">
    <span class="cover-f"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="logan wow animated fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">Ứng dụng quản lý Hạn Sử Dụng sản phẩm gia đình</h1>
            </div>
            <div class="col-md-12">
                <div class="button-featured">
                    <p class="text-center"><a href="#" class="button wow animated fadeInLeft">Tải ứng dụng</a><a href="#" class="button animated fadeInRight">SẢN PHẨM CỦA TÔI</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="function">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="line">CHỨC NĂNG NỔI BẬT</h2>
            </div>
            <div class="col-md-12">
                <div id="highlight-slide" class="wrap-tab carousel slide carousel-fade" data-ride="carousel">
                    <div class="box-img wow animated fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="../images/screen-1.jpg" alt="Đăng nhập với ứng dụng Hạn Sử Dụng">
                            </div>
                            <div class="item">
                                <img src="../images/screen-2.jpg" alt="Thêm sản phẩm với Hạn Sử Dụng">
                            </div>
                            <div class="item">
                                <img src="../images/screen-3.jpg" alt="Chọn ngày hết hạn">
                            </div>
                            <div class="item">
                                <img src="../images/screen-4.jpg" alt="Thông báo sản phẩm hết hạn">
                            </div>
                        </div>
                        <div class="carosel-bg"></div>
                    </div>
                    <div class="box-text wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <ol class="carousel-indicators">
                            <li data-target="#highlight-slide" data-step="1" data-slide-to="0" class="active">
                                <h4>Đăng nhập ứng dụng dễ dàng</h4>
                                <p>Đăng nhập không cần quá cầu kỳ, có thể quản lý trên cả website</p>
                            </li>
                            <li data-target="#highlight-slide" data-step="2" data-slide-to="1" class="">
                                <h4>Thêm sản phẩm với mã barcode nhanh gọn</h4>
                                <p>Thêm sản phẩm bằng cách quét mã, không cần nhập thông tin dài dòng</p>
                            </li>
                            <li data-target="#highlight-slide" data-step="3" data-slide-to="2" class="">
                                <h4>Chọn ngày hết hạn của sản phẩm</h4>
                                <p>Bạn có thể tùy ý chỉnh ngày hết hạn, để có thể theo dõi tốt nhất</p>
                            </li>
                            <li data-target="#highlight-slide" data-step="4" data-slide-to="3" class="">
                                <h4>Thông báo hết hạn chi tiết</h4>
                                <p>Thông báo hết hạn hữu ích</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="line">Ý kiến khách hàng</h2>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div id="slider-feedback" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="wrap-item">
                                <div class="box-info">
                                    <p><img src="images/user-1.jpg" alt=""></p>
                                    <p><span class="user">Người sử dụng</span></p>
                                    <p><span class="name">Nguyễn Thanh Dương</span><br><small>Lập trình viên</small></p>
                                    <div class="gap"><span></span></div>
                                    <p class="description">
                                        Tôi là một lập trình viên, tôi rất hay mua đồ ăn về dự trữ trong tủ lạnh - nhờ có Hạn Sử Dụng nên tôi sẽ hạn chế được rất nhiều thực phẩm đã quá hạn !!!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="wrap-item">
                                <div class="box-info">
                                    <p><img src="images/user-2.jpg" alt=""></p>
                                    <p><span class="user">Người sử dụng</span></p>
                                    <p><span class="name">Thảo Duyên</span><br><small>Dược Sĩ</small></p>
                                    <div class="gap"><span></span></div>
                                    <p class="description">Hạn Sử Dụng giúp tôi quản lý thuốc và thực phẩm chức năng rất tốt. Nó sẽ báo cho tôi trước khi những đồ dùng này sắp hết hạn</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="wrap-item">
                                <div class="box-info">
                                    <p><img src="images/user-3.jpg" alt=""></p>
                                    <p><span class="user">Người sử dụng</span></p>
                                    <p><span class="name">Đặng Ngọc Anh</span><br><small>Thông dịch viên</small></p>
                                    <div class="gap"><span></span></div>
                                    <p class="description">Hạn sử dụng quả thật rất tiện lợi, giúp tôi chăm sóc gia đình một cách trọn vẹn nhất. Các bạn cũng nên sử dụng ứng dụng này, sẽ rất hữu ích.</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="wrap-item">
                                <div class="box-info">
                                    <p><img src="images/user-4.jpg" alt=""></p>
                                    <p><span class="user">Người sử dụng</span></p>
                                    <p><span class="name">Đặng Ngọc Anh</span><br><small>Giáo Viên</small></p>
                                    <div class="gap"><span></span></div>
                                    <p class="description">Ứng dụng rất dễ sử dụng và trực quan. Từ khi tôi có nó, tôi sẽ không phải lo lắng về bản thân sẽ sử dụng những món đồ đã hết hạn sử dụng, quá tốt cho cuộc sống.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="download">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="line">Tải ứng dụng HẠN SỬ DỤNG</h2>
            </div>
            <div class="col-md-12">
                <div class="wrap">
                    <div class="qr">
                        <img src="images/qr.jpg" alt="">
                    </div>
                    <div class="type">
                        <p><img src="images/app-store.png" alt=""></p>
                        <p><img src="images/google-play.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>