<div class="bar-option">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-info btn-default btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Thêm sản phẩm mới</button>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center">Vui lòng tải ứng dụng để sử dụng chức năng này</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><a href="#"><img src="images/android-download.png" alt=""></a></p>
                                    </div>

                                    <div class="col-md-6">
                                        <p><a href="#"><img src="images/apple-download.png" alt=""></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search">
                    <form action="">
                        <input type="text" value="" placeholder="Nhập từ khóa" >
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main">
    <div id="exTab2" class="container">
        <div class="wrap-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a  href="#1" data-toggle="tab">Tất cả sản phẩm</a>
                </li>
                <li><a href="#2" data-toggle="tab">Còn lại một tuần</a>
                </li>
                <li><a href="#3" data-toggle="tab">Sản phẩm đã hết hạn</a>
                </li>
            </ul>
            <ul class="tab-pro">
                <li class="stt">STT</li>
                <li class="ten">Tên sản phẩm</li>
                <li class="hinhanh">Hình ảnh</li>
                <li class="ngayhethan">Ngày hết hạn</li>
                <li class="songayconlai">Số ngày còn lại</li>
                <li class="mucdoantoan">Mức độ an toàn</li>
            </ul>
        </div>
        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <div class="table-responsive">
                    <table class="table table-fixed table-product">
                        <thead class="block-1199">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Ngày hết hạn</th>
                        <th>Số ngày còn lại</th>
                        <th>Mức độ an toàn</th>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-primary">An toàn</span></td></td>

                        </tr>

                        <tr class="danger">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-danger">Cần sử dụng ngay</span></td></td>

                        </tr>

                        <tr class="warning">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-warning">Cần sử dụng ngay</span></td></td>

                        </tr>

                        <tr class="success">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-primary">An toàn</span></td></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="table-responsive">
                    <table class="table table-fixed table-product">
                        <thead class="block-1199">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Ngày hết hạn</th>
                        <th>Số ngày còn lại</th>
                        <th>Mức độ an toàn</th>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-primary">An toàn</span></td></td>

                        </tr>

                        <tr class="danger">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-danger">Cần sử dụng ngay</span></td></td>

                        </tr>

                        <tr class="warning">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-warning">Cần sử dụng ngay</span></td></td>

                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="tab-pane" id="3">
                <div class="table-responsive">
                    <table class="table table-fixed table-product">
                        <thead class="block-1199">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Ngày hết hạn</th>
                        <th>Số ngày còn lại</th>
                        <th>Mức độ an toàn</th>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-primary">An toàn</span></td></td>

                        </tr>

                        <tr class="danger">
                            <td class="product stt">1</td>
                            <td class="product ten">Cá hộp Divina 250gram</td>
                            <td class="product hinhanh">IMAGE</td>
                            <td class="product ngayhethan">25/05/2018</td>
                            <td class="product songayconlai">10</td>
                            <td class="product mucdoantoan"><span class="c-info-list-label u-info-label-danger">Cần sử dụng ngay</span></td></td>

                        </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>